In [3]:
import os
import shutil
import pandas as pd
import numpy as np
import glob

In [5]:
directory = os.getenv("HOME") + '/aiffel/aiffelthon/added/'

In [4]:
os.listdir(directory)

['dataset_full_ko_en_added_2022_sa.zip',
 '__MACOSX',
 '.ipynb_checkpoints',
 'dataset_full_translated_en_ko_0221_last_added_0221_12h.csv',
 'dataset_en_ko_translated_sihyeok_145000.zip',
 'dataset_full_ko_en_added_0221_Jongin.csv']

In [93]:
df = pd.read_csv(directory + 'dataset_full_translated_en_ko_0221_last_added_0221_12h.csv' )

In [94]:
del df['Unnamed: 0']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678355 entries, 0 to 678354
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    678354 non-null  object
 1   dial    678355 non-null  object
 2   reg     678355 non-null  object
 3   eng     678355 non-null  object
dtypes: object(4)
memory usage: 20.7+ MB

In [9]:
zipfiles = glob.glob(directory + '*zip')
zipfiles

['/aiffel/aiffel/aiffelthon/added/dataset_full_ko_en_added_2022_sa.zip',
 '/aiffel/aiffel/aiffelthon/added/dataset_en_ko_translated_sihyeok_145000.zip']

In [10]:
for i in zipfiles :
    shutil.unpack_archive(i,directory)

In [ ]:
pd.read_csv()

In [12]:
os.listdir(directory+'dataset_full_ko_en_added_2022_sa')

['dataset_en_ko_translated_sa_0_5000.csv',
 'dataset_en_ko_translated_sa_15000_20000.csv',
 'dataset_en_ko_translated_sa_60000_65000.csv',
 'dataset_en_ko_translated_sa_140000_145000.csv',
 'dataset_en_ko_translated_sa_85000_90000.csv',
 'dataset_en_ko_translated_sa_125000_130000.csv',
 'dataset_en_ko_translated_sa_135000_140000.csv',
 'dataset_en_ko_translated_sa_165000_170000.csv',
 'dataset_en_ko_translated_sa_110000_115000.csv',
 'dataset_en_ko_translated_sa_100000_105000.csv',
 'dataset_en_ko_translated_sa_5000_10000.csv',
 'dataset_en_ko_translated_sa_150000_155000.csv',
 'dataset_en_ko_translated_sa_25000_30000.csv',
 'dataset_en_ko_translated_sa_70000_75000.csv',
 'dataset_en_ko_translated_sa_160000_165000.csv',
 'dataset_en_ko_translated_sa_35000_40000.csv',
 'dataset_en_ko_translated_sa_95000_100000.csv',
 'dataset_en_ko_translated_sa_80000_85000.csv',
 'dataset_en_ko_translated_sa_175000_180000.csv',
 'dataset_en_ko_translated_sa_40000_45000.csv',
 'dataset_en_ko_translated_sa_30000_35000.csv',
 'dataset_en_ko_translated_sa_120000_125000.csv',
 'dataset_en_ko_translated_sa_50000_55000.csv',
 'dataset_en_ko_translated_sa_130000_135000.csv',
 'dataset_en_ko_translated_sa_10000_15000.csv',
 'dataset_en_ko_translated_sa_105000_110000.csv',
 'dataset_en_ko_translated_sa_75000_80000.csv',
 'dataset_en_ko_translated_sa_55000_60000.csv',
 'dataset_en_ko_translated_sa_115000_120000.csv',
 'dataset_en_ko_translated_sa_90000_95000.csv',
 'dataset_en_ko_translated_sa_170000_175000.csv',
 'dataset_en_ko_translated_sa_145000_150000.csv',
 'dataset_en_ko_translated_sa_155000_160000.csv',
 'dataset_en_ko_translated_sa_45000_50000.csv',
 'dataset_en_ko_translated_sa_65000_70000.csv',
 'dataset_en_ko_translated_sa_20000_25000.csv']

In [18]:
sa = glob.glob(directory+'dataset_full_ko_en_added_2022_sa/*csv')

In [20]:
sa[0]

'/aiffel/aiffel/aiffelthon/added/dataset_full_ko_en_added_2022_sa/dataset_en_ko_translated_sa_0_5000.csv'

In [51]:
dff = pd.DataFrame(columns=dfm.columns)

In [30]:
dfm = pd.read_csv('/aiffel/aiffel/aiffelthon/added/dataset_full_ko_en_added_2022_sa/dataset_en_ko_translated_sa_0_5000.csv')

In [31]:
dff.columns

Index(['index', 'text', 'dial', 'reg', 'pair', 'eng'], dtype='object')

In [38]:
for i in sa :
    dfn = pd.read_csv(i)
    dff = pd.concat([dff,dfn], axis=0)

In [39]:
dff.drop_duplicates(inplace=True)
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270000 entries, 0 to 179999
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   index   270000 non-null  object
 1   text    270000 non-null  object
 2   dial    270000 non-null  object
 3   reg     270000 non-null  object
 4   pair    270000 non-null  object
 5   eng     270000 non-null  object
dtypes: object(6)
memory usage: 14.4+ MB

In [49]:
os.listdir(directory)

['dataset_en_ko_translated_sihyeok_20000_25000.csv',
 'dataset_en_ko_translated_sihyeok_25000_30000.csv',
 'dataset_full_ko_en_added_2022_sa',
 'dataset_full_ko_en_added_2022_sa.zip',
 'dataset_en_ko_translated_sihyeok_115000_120000.csv',
 'dataset_en_ko_translated_sihyeok_85000_90000.csv',
 'dataset_en_ko_translated_sihyeok_105000_110000.csv',
 '__MACOSX',
 'dataset_en_ko_translated_sihyeok_55000_60000.csv',
 '.ipynb_checkpoints',
 'dataset_en_ko_translated_sihyeok_75000_80000.csv',
 'dataset_en_ko_translated_sihyeok_125000_130000.csv',
 'dataset_en_ko_translated_sihyeok_70000_75000.csv',
 'dataset_en_ko_translated_sihyeok_35000_40000.csv',
 'dataset_en_ko_translated_sihyeok_5000_10000.csv',
 'dataset_en_ko_translated_sihyeok_140000_145000.csv',
 'dataset_en_ko_translated_sihyeok_15000_20000.csv',
 'dataset_en_ko_translated_sihyeok_100000_105000.csv',
 'dataset_en_ko_translated_sihyeok_95000_100000.csv',
 'dataset_en_ko_translated_sihyeok_45000_50000.csv',
 'dataset_en_ko_translated_sihyeok_30000_35000.csv',
 'dataset_en_ko_translated_sihyeok_135000_140000.csv',
 'dataset_full_translated_en_ko_0221_last_added_0221_12h.csv',
 'dataset_en_ko_translated_sihyeok_50000_55000.csv',
 'dataset_en_ko_translated_sihyeok_145000.zip',
 'dataset_en_ko_translated_sihyeok_110000_115000.csv',
 'dataset_en_ko_translated_sihyeok_80000_85000.csv',
 'dataset_en_ko_translated_sihyeok_40000_45000.csv',
 'dataset_en_ko_translated_sihyeok_60000_65000.csv',
 'dataset_full_ko_en_added_0221_Jongin.csv',
 'dataset_en_ko_translated_sihyeok_120000_125000.csv',
 'dataset_en_ko_translated_sihyeok_0_5000.csv',
 'dataset_en_ko_translated_sihyeok_65000_70000.csv',
 'dataset_en_ko_translated_sihyeok_10000_15000.csv']

In [61]:
sh = glob.glob(directory+'*sihyeok*.csv')

In [62]:
dff2 = pd.DataFrame(columns=dfm.columns)
for i in sh :
    dfn = pd.read_csv(i)
    dff2 = dff2.merge(dfn, how='outer')
dff2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145000 entries, 0 to 144999
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   index   145000 non-null  int64
 1   text    145000 non-null  object
 2   dial    145000 non-null  object
 3   reg     145000 non-null  object
 4   pair    145000 non-null  object
 5   eng     145000 non-null  object
dtypes: int64(1), object(5)
memory usage: 7.7+ MB

In [64]:
ji = glob.glob(directory+'*Jong*.csv')
ji

['/aiffel/aiffel/aiffelthon/added/dataset_full_ko_en_added_0221_Jongin.csv']

In [65]:
dff3 = pd.read_csv(ji[0])

In [66]:
dff3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195947 entries, 0 to 195946
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    195947 non-null  object
 1   dial    195947 non-null  object
 2   reg     195947 non-null  object
 3   pair    195947 non-null  object
 4   eng     195947 non-null  object
dtypes: object(5)
memory usage: 7.5+ MB

In [70]:
fmerge = [df, dff[df.columns], dff2[df.columns], dff3[df.columns]]

In [99]:
dfff = pd.DataFrame(columns = df.columns)
for i in fmerge:
    dfff = dfff.merge(i, how='outer')

In [100]:
dfff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 992792 entries, 0 to 992791
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    992791 non-null  object
 1   dial    992792 non-null  object
 2   reg     992792 non-null  object
 3   eng     992792 non-null  object
dtypes: object(4)
memory usage: 37.9+ MB

In [102]:
dfff.duplicated(subset='dial').sum()

81085

In [103]:
dfff.reg.value_counts()

kw    402885
jj    222671
jd    192163
cc     89189
gs     85884
Name: reg, dtype: int64

In [104]:
dfff.drop_duplicates(subset='dial',inplace=True)

In [111]:
idx = dfff.loc[dfff.duplicated(subset='eng',keep=False)].index

In [113]:
dfff.reg.value_counts()

kw    360401
jj    216213
jd    170010
cc     83274
gs     81809
Name: reg, dtype: int64

In [114]:
dfff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 911707 entries, 0 to 992791
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    911706 non-null  object
 1   dial    911707 non-null  object
 2   reg     911707 non-null  object
 3   eng     911707 non-null  object
dtypes: object(4)
memory usage: 67.0+ MB

In [118]:
kw = dfff.loc[(dfff.reg == 'kw') ]
kw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360401 entries, 143902 to 992771
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    360400 non-null  object
 1   dial    360401 non-null  object
 2   reg     360401 non-null  object
 3   eng     360401 non-null  object
dtypes: object(4)
memory usage: 13.7+ MB

In [122]:
kw.loc[kw.duplicated(subset='dial')]

Empty DataFrame
Columns: [text, dial, reg, eng]
Index: []

In [115]:
directory

'/aiffel/aiffel/aiffelthon/added/'

In [117]:
dfff.to_csv(directory + '★dataset_full_raw_0222★.csv', index=False)